<div class="containter">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col d-flex justify-content-center pt-5">
                    <h3>Bienvenu dans psyApp</h3>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="card mt-5 text-center pointer" routerLink="/infos">
                        <div class="card-body">
                            <h5 class="card-title">Informations sur les différentes spécialités</h5>
                            <p class="card-text">Mettre des infos à disposition afin d'informer le public et de guider le patient vers le bon praticien </p>
                            <h5><strong>S'informer</strong></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="card mt-5 text-center pointer" routerLink="/survey">
                        <div class="card-body">
                            <h5 class="card-title">J'ai besoin d'être orienté vers un praticien</h5>
                            <p class="card-text">Répondez à un questionnaire afin d'être orienter vers un praticien qui répondra à vos besoins</p>
                            <h5><strong>Remplir le questionnaire</strong></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="card mt-5 text-center pointer" routerLink="/search">
                        <div class="card-body">
                            <h5 class="card-title">Je cherche un praticien</h5>
                            <p class="card-text">Trouver un praticine pres de chez vous</p>
                            <h5><strong>Rechercher</strong></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>